# --- Archivos de Sistema (Mac) ---
.DS_Store

# --- Jupyter Notebooks (Checkpoints automáticos) ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Python (Archivos compilados y cache) ---
__pycache__/
*.pyc

# --- Entornos Virtuales ---

*.csv